<!DOCTYPE html>

<html>

    <head>

        <title>
            {{name}}
        </title>
    </head>
    <body>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur similique at veritatis temporibus, tempora iure perspiciatis esse enim cumque magni et, sint rem delectus facilis eum perferendis! Dolorem, earum alias.
    </body>
</html>
